/pkg/
Gemfile.lock
.vagrant/
.ruby-gemset
.DS_Store
.AppleDouble
.LSOverride
.idea
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
